html {
  background-color: #B0BEC5;
  height: 100%;
  width: 100%;
}

.row {
  background-color: #B0BEC5;
}

#joinGame {
  align-self: center;
}

#game, #active, #chat {
  visibility: hidden;
}

#board {
  position: absolute;
  z-index: 0;
}

#pieces {
  position: absolute;
  z-index: 2;
}

#selectItem {
  position: relative;
  z-index: 1;
}

.name {
  font-weight:bold;
  color: #3F51B5;
}

#active, #chat {
  top: 50px;
  left: 14px;
}

li.span {
  text-align: right;
}
