html {
  background-color: #E0E0E0;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

#board {
  position: absolute;
  z-index: 0;
}

#pieces {
  position: relative;
  z-index: 2;
}

#selectItem {
  position: relative;
  right: 41%;
  z-index: 1;
}
