html {
  background-color: #B0BEC5;
  height: 100%;
  width: 100%;
}

a {
  background-color: white;
}

.row.app {
  background-color: #B0BEC5;
}

#intro {
  position: static;
  width: 100%;
  background-color: #78909C;
  box-shadow: 0 1px 4px rgba(0,0,0,1);
}

#joinGame {
  align-self: center;
}

#game, #active, #chat {
  visibility: hidden;
}

#board {
  position: absolute;
  z-index: 0;
}

#pieces {
  position: absolute;
  z-index: 2;
}

#selectItem {
  position: relative;
  z-index: 1;
}

.name {
  font-weight:bold;
  color: #3F51B5;
}

#active, #chat {
  top: 50px;
  left: 14px;
}

li.span {
  text-align: right;
}

#title {
  color: white;
  font-weight:400;
}

.btn.col-xs-1 {
  color:white;
}
